article.post {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .post-thumbnail {
    margin: auto auto 30px;
  }
  .entry-content {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.6em;
  }
  .entry-title {
    font-size: 24px;
  }
}
.entry-header {
  padding: 0;
  margin: auto;
  .entry-header-inner {
    padding: 100px 0;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  .entry-title {
    margin: auto;
    font-size: 48px;
  }
}
.page {
  .entry-header {
    background: #f7f7f7;
    margin: auto auto 30px;
    .entry-header-inner {
      padding: 36px auto;
    }
  }
  .entry-title {
    margin: auto;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
  }
  .entry-content {
    min-height: 20vh;
  }
}
.archive,
.home.blog {
  #breadcrumbs {
    font-size: 14px;
    margin: auto;
    a:hover {
      color: #7a7a7a;
    }
  }
  .navigation,
  .pagination {
    clear: both;
  }
  &.entry-header {
    background-size: cover;
    background-position: center;
    padding: 27px 0;
    background: #f7f7f7;
    margin: auto auto 60px;
    .page-title {
      margin: auto;
    }
    &.image {
      .page-title {
        color: #fff;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }
  article.post {
    position: relative;
    margin: auto auto 55px;
    padding-bottom: 30px;
    border-bottom: 2px solid #f1f1f1;
    .entry-header {
      .entry-title {
        margin: 30px auto auto;
        a {
          color: #333;
          &:hover {
            color: $colorHover;
          }
        }
      }
    }
    .entry-summary {
      margin: 20px auto auto;
    }
  }
}
blockquote {
  font-size: 16px;
  padding: 0 30px;
  border-left: 3px solid $colorHover;
}
.widget_search {
  label {
    display: block;
  }
  input {
    @include tet30-input;
  }
  button {
    @include tet30-button;
    display: none;
  }
}
.post-meta {
  font-size: 13px;
  margin: 10px auto auto;
  > * {
    margin-right: 15px;
  }
  img.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
  }
  i {
    font-size: 18px;
    margin-right: 5px;
    line-height: 24px;
    vertical-align: middle;
  }
}
nav.pagination {
  .screen-reader-text {
    display: none;
  }
  .nav-links {
    text-align: center;
    width: 100%;
    margin: 10px auto 80px;
  }
  .page-numbers {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    border-radius: 50%;
    color: #999;
    height: 35px;
    width: 35px;
    line-height: 35px;
    margin: 0 4px;
    display: inline-block;
    text-align: center;
    &:hover {
      color: $colorHover;
    }
  }
  .next, .prev {
    width: auto;
    height: auto;
  }
  .current {
    background: $mainColorHover;
    color: #fff;
  }
}
.c4d-theme-effect nav.pagination .page-numbers {
  transition: all 0.3s;
}
.tet30-next-prev-post {
  .prev-post, .next-post {
    position: relative;
  }
  h3 {
    position: absolute;
    background: #fff;
    padding: 30px;
    bottom: 0;
    margin: 30px;
    font-size: 14px;
    opacity: 0.7;
    span {
      display: block;
      color: #999;
      font-weight: 600;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.tet30-share-this {
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin: 30px auto 50px;
  padding: 0 0 30px;
  label {
    display: none;
  }
}

.single-post #comments {
  background: #fff;
  padding: 0;
  margin: 60px auto;
  border: none;
  border-radius: 0;
  .comments-title {
    font-size: 24px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #111;
    margin: 0px auto 50px;
    display: block;
    text-align: left;
    border-bottom: 4px solid #fed700;
  }
  .comment-reply-title {
    padding: 20px 0 0;
  }
  .comment-list {
    list-style: none;
    margin: auto;
    padding: 0;
    li {

    }
    .comment-author {
      font-weight: 600;
      b {
        font-weight: none;
      }
      > img {
        width: 70px;
        height: auto;
        float: left;
        margin: auto 20px auto auto;
        border-radius: 50%;
      }
      a, .fn {
        font-size: 14px;
        color: #111;
      }
      .says {
        display: none;
      }
    }
    .comment-metadata {
      margin: auto auto 10px;
      font-size: 13px;
    }
    .comment-content {
      margin: auto auto auto 90px;
      font-size: 16px;
      font-weight: 400;
      color: #333;
      line-height: 1.6em;
    }
    .comment-body {
      position: relative;
      margin: auto auto 40px;
      padding: 0 0 20px;
      border-bottom: 1px solid #ddd;
    }
    .reply {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .children {
    list-style: none;
    margin: auto;
    padding: 0;
  }
}
//////// SINGLE //////////////
.single-post {
  #breadcrumbs {
    margin: auto;
    padding: 20px 0;
    font-size: 14px;
  }
  .entry-summary {
    margin: 20px auto auto;
  }
}

////// LEFT RIGHT SIDEBAR ////
.tet30-category-right-col,
.tet30-category-left-col {
  font-size: 14px;
  line-height: 1.6em;
  ul li {
    margin: auto auto 10px;
    a {
      display: inline-block;
    }
    .post-date {
      font-size: 13px;
    }
  }
}
////////////// BLOG STYLE ///////////////
.tet30-blog-style-2 {
  &.archive {
    article.post {
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .post-thumbnail {
        padding: 7px 0 0;
        display: block;
      }
      .media-attachment {
        width: 30%;
        float: left;
        margin: auto auto 20px;
      }
      .content-body {
        width: 63%;
        float: left;
        margin-left: 30px;
      }
      .entry-header .entry-title {
        margin: auto;
      }
    }
  }
}
.tet30-blog-style-3{
  &.archive {
    article.post {
      width: 50%;
      float: left;
      border: none;
      padding-bottom: 0;
      &:nth-child(2n + 3) {
        clear: left;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .media-attachment {
        margin: auto 15px;
      }
      .content-body {
        margin: auto 15px;
      }
    }
  }
}
.more-link {
  @include tet30-button;
  width: auto;
  margin: 20px auto auto;
}