.wp-caption {
  text-decoration: none;
}
.wp-caption-text {
  text-decoration: none;
}
.gallery-caption {
  text-decoration: none;
}
.aligncenter {
  text-decoration: none;
}
.bypostauthor {
  text-decoration: none;  
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}